$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1450px,
);

$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 960px,
    xl: 1140px,
    xxl: 1390px,
);
