@mixin font-size-heading {
    font-size: 20px;
}

@mixin font-size-normal {
    font-size: 14px;
}

@mixin btn {
    @include font-size-normal;
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 40px;
    background-color: var(--color-bronze);
    color: #fff;
    border: unset;
    outline: unset;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.8;
        transition: opacity 0.3s;
    }
}
