.wpcf7-form-control.wpcf7-acceptance .wpcf7-list-item {
    font-size: 16px;
    margin-bottom: 20px;
}

.default-content {
    padding: 40px 20px;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-blue);
    }

    span,
    p,
    b {
        color: #737373;
        padding: 20px 0;
        font-size: 18px;
    }
    b {
        color: black;
    }
    a {
        color: var(--color-bronze);
        transition: all 0.3s;
        &:hover {
            transition: all 0.3s;
            opacity: 0.6;
        }
    }
}
