*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 50%;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

    @media screen and (min-width: 992px) {
        font-size: 56.25%;
    }

    @media screen and (min-width: 1200px) {
        font-size: 62.5%;
    }
}

body {
    color: var(--color-black);
    font-size: 1.8rem;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;
}

input,
select,
textarea,
button {
    &:focus {
        outline: none;
    }
}
