:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-blue: #212c46;
    --color-dark-blue: #29344e;
    --color-bronze: #c6ad8f;
    --color-light-bronze: #f3e5d9;
    --color-text-bronze: var(--color-bronze);
}
