.home {
    &-slider {
        position: relative;
        // @include media-breakpoint-only(xl) {
        //     height: 200px;
        // }
        &__container {
            background: rgb(0, 0, 0);
            @include media-breakpoint-up(xl) {
                max-height: 700px;
            }
            @include media-breakpoint-up(xxl) {
                max-height: 800px;
            }
            &-pagination {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
                z-index: 99999;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include media-breakpoint-up(xxl) {
                    right: 150px;
                }
                div {
                    width: 5px;
                    height: 5px;
                    margin-bottom: 10px;
                    border-radius: 100%;
                    background: var(--color-blue);
                    @include media-breakpoint-up(xl) {
                        height: 10px;
                        width: 10px;
                        margin-bottom: 20px;
                    }
                    @include media-breakpoint-up(xxl) {
                        height: 10px;
                        width: 10px;
                        margin-bottom: 15px;
                    }
                }
                div.active {
                    width: 10px;
                    height: 10px;
                    margin-bottom: 10px;
                    border-radius: 100%;
                    background: var(--color-white);
                    border: 3px solid var(--color-bronze);
                    @include media-breakpoint-up(xl) {
                        height: 15px;
                        width: 15px;
                        margin-bottom: 15px;
                    }
                    @include media-breakpoint-up(xxl) {
                        height: 15px;
                        width: 15px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        &__layer {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 60%, white 110%);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
        }
        &__slide {
            &-img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .our-offer {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background: var(--color-light-bronze);
            top: 0;
            left: -200%;
            z-index: -1;
            width: 3000px;
            height: 100%;
            @include media-breakpoint-down(md) {
                left: -370%;
            }
        }
        color: var(--color-blue);
        @include media-breakpoint-up(xxl) {
        }
        @include media-breakpoint-up(sm) {
            margin-top: -160px;
            z-index: 99999;
            position: relative;
        }
        &__container {
            background-color: var(--color-light-bronze);
            text-align: center;
            padding: 30px 20px;
            @include media-breakpoint-up(lg) {
                text-align: left;
                padding: 30px 0;
                // padding-left: 130px;
            }
        }
        &-title {
            @include font-size-heading;
            text-transform: uppercase;
            font-weight: bold;
            @include media-breakpoint-up(lg) {
                font-size: 40px;
            }
        }
        &-subtitle {
            display: block;
            font-weight: lighter;
            padding: 10px 0;
            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }
            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
        }
        &__boxes {
            display: flex;
            padding-top: 10px;
            padding-bottom: 5px;
        }
        &__box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            @include media-breakpoint-up(lg) {
                flex-direction: row;
                padding-right: 40px;
            }
            &-img {
                align-self: center;
                margin-bottom: 5px;
            }
            &-text {
                @include font-size-normal;
                font-size: 12px;
                padding: 0 10px;
                @include media-breakpoint-up(sm) {
                    padding: 0 10px;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 18px;
                }
            }
        }
    }

    .localization {
        color: var(--color-blue);
        font-family: 'Noto Sans', sans-serif;

        &__container {
            padding: 30px 20px;
            @include media-breakpoint-up(sm) {
                padding: 0;
            }
        }
        &-wrapper {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &-after-wrapper {
            @include media-breakpoint-only(md) {
                padding: 20px;
            }
            @include media-breakpoint-only(lg) {
                padding: 20px;
            }
        }
        &-title {
            @include font-size-heading;
            text-align: center;
            font-weight: bold;
            @include media-breakpoint-up(sm) {
                font-size: 30px;
                text-align: left;
            }
            @include media-breakpoint-up(lg) {
                padding-top: 40px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 35px;
            }
        }

        &-text {
            padding: 20px 0;
            color: #737373;
            text-align: justify;
            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }
            @include media-breakpoint-up(xl) {
                padding-right: 80px;
                text-align: left;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 18px;
            }
        }

        &-link {
            display: inline-block;
            position: relative;
            color: var(--color-bronze);
            margin-bottom: 20px;
            transition: opacity 0.1s;

            &:hover {
                opacity: 0.7;
                transition: opacity 0.1s;
            }
            &::after {
                content: '';
                height: 2px;
                width: 80px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -100px;
                background-color: var(--color-bronze);
            }
            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 18px;
            }
        }

        &__map {
            @include media-breakpoint-up(sm) {
                margin-top: -90px;
                z-index: -1;
            }
            @include media-breakpoint-up(lg) {
                margin-top: -120px;
            }
            @include media-breakpoint-up(xl) {
                margin-top: -140px;
            }

            &-link {
                cursor: pointer;
                transition: opacity 0.3s;
                display: block;
                &:hover {
                    opacity: 0.7;
                    transition: opacity 0.3s;
                }
            }
            &-img {
                width: 100%;
            }
        }
    }
    .flat-info {
        text-align: center;
        position: relative;
        &__container {
            @include media-breakpoint-up(lg) {
                padding-bottom: 120px;
            }
        }
        &__img {
            &-home {
                max-height: 600px;
                @include media-breakpoint-down(md) {
                    width: 100%;
                    object-fit: cover;
                }
                @include media-breakpoint-up(md) {
                    width: 100%;
                }
            }
        }
        &__box {
            color: var(--color-white);
            background-color: var(--color-dark-blue);
            display: inline-flex;
            flex-direction: column;
            padding: 30px;
            margin-top: -50px;
            text-transform: uppercase;
            background-image: url('https://kada-bud.pl/wp-content/themes/kada-bud/assets/images/arrow-box.png');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: left bottom;
            position: relative;
            @include media-breakpoint-up(lg) {
                position: absolute;
                padding: 120px;
                right: -120px;
                bottom: -60px;
            }
            @include media-breakpoint-up(xxl) {
                padding: 80px;
            }
            &:hover {
                &::before {
                    transition: all 0.7s;
                    top: 30px;
                    left: 30px;
                }
            }
            &::before {
                content: '';
                position: absolute;
                transition: all 0.7s;
                display: block;
                border: 1px solid var(--color-bronze);
                width: 100%;
                height: 100%;
                top: -15px;
                left: -15px;
                @include media-breakpoint-up(xl) {
                    border-width: 2px;
                }
            }
            &-title {
                font-size: 35px;
                @include media-breakpoint-up(xxl) {
                    font-size: 75px;
                }
            }
            &-subtitle {
                font-size: 24px;
                @include media-breakpoint-up(xxl) {
                    font-size: 35px;
                }
            }
            &-desc {
                font-weight: lighter;
                font-size: 11px;
                @include media-breakpoint-up(xxl) {
                    font-size: 16px;
                }
            }
        }
        &__infos {
            text-align: left;
            padding: 40px;
            @include media-breakpoint-up(lg) {
                // padding-top: 120px;
                padding-left: 100px;
            }

            &-title {
                color: var(--color-blue);
                font-weight: bolder;
                font-size: 18px;
                @include media-breakpoint-up(sm) {
                    font-size: 20px;
                }
                @include media-breakpoint-up(xxl) {
                    font-size: 35px;
                }
            }
            &-list {
                list-style: square;
                margin-left: 20px;
            }
            &-item {
                color: #30493f;
                @include media-breakpoint-up(sm) {
                    font-size: 16px;
                }
                @include media-breakpoint-up(xxl) {
                    font-size: 18px;
                    padding-top: 5px;
                }

                b {
                    color: #122a18;
                }
            }
            &-p {
                color: #30493f;
                @include media-breakpoint-up(sm) {
                    font-size: 16px;
                }
                @include media-breakpoint-up(lg) {
                    line-height: 1.6;
                }
                @include media-breakpoint-up(xxl) {
                    font-size: 18px;
                }
            }
        }
    }
    .gallery {
        @include media-breakpoint-up(lg) {
            margin-bottom: 80px;
        }
        &-title {
            @include font-size-heading;
            padding: 20px 0;
            color: var(--color-blue);
            @include media-breakpoint-up(sm) {
                font-size: 30px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 35px;
            }
        }
        &__container {
            background: var(--color-blue);
            padding: 40px 0px;
            position: relative;
            @include media-breakpoint-up(md) {
                padding: 20px 10px;
                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 25px;
                    top: 0;
                    left: 0;
                    background: var(--color-blue);
                    z-index: 99999;
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    top: 0;
                    right: 0;
                    width: 25px;
                    background: var(--color-blue);
                    z-index: 99999;
                }
            }
        }
        &__slide {
            padding: 0 10px;
            &-img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }
    }

    .newsletter {
        color: var(--color-blue);
        margin-bottom: 40px;
        &-title {
            @include font-size-heading;
            margin-top: 20px;
            @include media-breakpoint-up(sm) {
                font-size: 30px;
            }
            @include media-breakpoint-up(xxl) {
                font-size: 35px;
            }
        }
        &-subtitle {
            display: block;
            font-weight: lighter;
            margin-bottom: 20px;
            @include media-breakpoint-up(sm) {
                font-size: 16px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 18px;
            }
        }
        &__form {
        }
        &__group {
            &-input {
                width: 100%;
                outline: unset;
                border: 1px solid #979494;
                padding: 5px 10px;
                margin-bottom: 10px;
                @include media-breakpoint-up(xl) {
                    font-size: 16px;
                }
            }
            &--center {
                @include media-breakpoint-up(sm) {
                    text-align: center;
                }
            }
            &-checkbox {
                display: none;
            }
            .newsletter__group-checkbox:checked + .newsletter__group-checkbox-virtual {
                &::before {
                    content: '✔︎';
                    width: 10px;
                    color: #979494;
                    font-size: 13px;
                    height: 10px;
                    position: absolute;
                    top: -2px;
                    left: 2px;
                }
            }
            &-checkbox-virtual {
                position: absolute;
                height: 16px;
                width: 16px;
                border: 1px solid #979494;
            }

            &-p {
                color: #161616;
                opacity: 0.5;
                font-weight: lighter;
                font-size: 11px;
                padding-left: 25px;
                text-align: justify;
                margin-bottom: 20px;
                line-height: 1;
                display: block;
                @include media-breakpoint-up(xl) {
                    font-size: 13px;
                }
            }
            &-submit {
                @include btn;
                @include media-breakpoint-up(xl) {
                    font-size: 18px;
                }
            }
        }
    }
}
