.investor {
    .title {
            background-color: #efefef;
        &__container {
            position: relative;

            &-h1 {
                position: relative;
                z-index: 9999;
                color: var(--color-blue);
                padding: 60px 0;
                font-size: 30px;

            }

            &-bg {
                position: absolute;
                top: 0;
                right: 0;
                //width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .introduction {
        position: relative;

        .introduction__box {
            @include media-breakpoint-up(md) {
                padding: 10px 0;
            }
            @include media-breakpoint-up(lg) {
                padding: 20px 0;
            }
        }

        &-heading {
            @include heading-investor;
        }

        &-desc {
            padding-top: 20px;
            font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            line-height: 1.8;
        }

        &__img {
            padding: 20px 0;

            &-schema {
                width: 100%;
                @include media-breakpoint-up(md) {
                    width: auto;
                    height: 80px;
                }
                @include media-breakpoint-up(lg) {
                    height: 100px;
                    width: auto;
                }
            }

            &-list {
            }

            &-item {
                font-size: 16px;
                padding-top: 5px;
                padding-left: 10px;
                list-style: none;
            }
        }

        &__bg {
            &-img {
                background-size: cover;
                width: 100%;
                height: 250px;
                @include media-breakpoint-up(md) {
                    height: 100%;
                    position: absolute;
                }
                @include  media-breakpoint-up(lg) {
                    width: calc(100% + ((100vw - #{map-get($container-max-widths,'lg')}) / 2));
                    right: calc((-100vw + #{map-get($container-max-widths,'lg')}) / 2);
                }
            }
        }
    }

    .info {
        &__bg {
            &-img {
                background-size: cover;
                width: 100%;
                height: 250px;
                @include media-breakpoint-up(md) {
                    height: 100%;
                    position: absolute;
                    left: 0;
                }
                @include  media-breakpoint-up(lg) {
                    width: calc(100% + ((100vw - #{map-get($container-max-widths,'lg')}) / 2));
                    left: calc((-100vw + #{map-get($container-max-widths,'lg')}) / 2);
                }
            }
        }

        &__flat {
            &:first-child {
                padding-top: 10px;
                @include media-breakpoint-up(md) {
                    padding-left: 40px;
                    padding-top: 40px;
                }
                @include media-breakpoint-up(lg) {
                    padding-top: 60px;
                }
            }

            padding-left: calc((100vw - #{map-get($container-max-widths,'lg')});

            &--title {
                color: var(--color-blue);
                font-weight: bold;
                font-size: 18px;
                padding-top: 20px;
                padding-bottom: 5px;
            }

            &--list {
                list-style: none;

            }
            &--item {
            }
            &--text {}
            &:last-child {
                padding-bottom: 10px;
                @include media-breakpoint-up(md) {
                    padding-bottom: 40px;
                    padding-left: 40px;
                }
                @include media-breakpoint-up(lg) {
                    padding-bottom: 60px;
                }
            }
        }
    }

    .flat-boxes {
        margin-top: 20px;
        &__box {
            &-one {
                background: #E3DAC1;
            }
            &-two {
                background: #E3D4AA;
            }
            &-three {
                background: #E3CD94;
            }
            &-four {
                background: #E3C77C;
            }

            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 30px 0;

            &--img > img {
                max-width: 60px;
            }
            &--text {
                color: #000;
                padding-top: 10px;
                text-transform: uppercase;
                font-size: 13px;
                max-width: 180px;
                text-align: center;
            }
        }
    }

    .details {
        &__title {
            @include heading-investor;
            font-size: 20px;
            padding: 20px 0;
        }

        &__info-box {
            background: var(--color-dark-blue);
            margin-bottom: 20px;
            &-list {
                padding: 20px 20px;

            }
            &-item {
                &:first-child {
                    padding-top: 20px;
                }
                display: flex;
                padding: 20px 0;
                justify-content: space-between;
                list-style: none;
                border-bottom: 1px solid rgba(255,255,255,0.3);
                border-bottom-style: dashed;
                &--left-side {
                    color: #fff;
                }
                &--right-side {
                    color: #E3C77C;
                }
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 20px;
                }
            }
            &-download-btn {
                background: #E3C77C;
                color: #fff;
                width: 100%;
                text-align: center;
                display: block;
                padding: 20px;
                text-transform: uppercase;
            }
        }
    }

    .schema-price {
        &__img {}
        &__text {
            white-space: pre-line;
            font-size: 16px;
        }
        &__price {
            font-size: 16px;
            span {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }

    .extra-details {
        &__box {
            padding-top:20px;
            padding-bottom: 20px;
            &--bg {
                background-color: #EEF1F5;
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: 200px;
            }
        }
        &__title {
            padding-bottom: 10px;

        }
        &__text {
            font-size: 16px;
            padding-bottom: 20px;
            //white-space: pre-line;
        }

        &__list {
            list-style-type: "- ";
            font-size: 16px;
        }
        &__list-item {
            padding: 5px 0;
        }
    }

    .investor-map {
        padding-top: 20px;
    }

}
