.breadcrumbs {
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    padding: 10px 0;
    &__list {
        display: flex;
        list-style: none;
        &-item {
            padding-right: 15px;
            position: relative;
            transition: opacity 0.3s;
            &:hover {
                transition: opacity 0.3s;
                opacity: 0.7;
            }
            &::after {
                content: '⌃';
                position: absolute;
                transform: rotate(90deg);
                display: flex;
                top: 0;
                right: 5px;
            }
            &:last-child {
                &::after {
                    content: '';
                    position: absolute;
                    transform: rotate(90deg);
                    display: flex;
                    top: 0;
                    right: 5px;
                }
            }
            &:last-child > a {
                color: #E3C77C;
            }
        }
        &-link {
            color: #737373;
        }
    }
}
