@mixin heading-investor {
    color: var(--color-blue);
    font-size: 38px;
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: 2px;
        // right: 0;
        height: 2px;
        width: 3000px;
        margin-left: 20px;
        background: var(--color-bronze);
        @include media-breakpoint-up(md) {
            z-index: 99;
        }
    }
}