.footer {
    background: #29344e;
    color: #fff;
    padding-top: 20px;
    &__box {
        &-title {
            font-size: 20px;
            @include media-breakpoint-up(xxl) {
                font-weight: bold;
            }
        }
        &-list-icon {
            list-style: none;
            padding: 10px 0;
        }
        &-list-icon-item {
            padding: 2px 0;
            display: flex;
            align-items: center;
            img {
                width: 20px;
            }
            span {
                font-size: 13px;
                margin-left: 10px;
                @include media-breakpoint-up(xxl) {
                    font-size: 16px;
                }
                a {
                    color: var(--color-bronze);
                    transition: all 0.3s;
                    &:hover {
                        opacity: 0.7;
                        transition: all 0.3s;
                    }
                }
            }
        }
        &-text {
            padding: 10px 0;
            font-size: 13px;
            @include media-breakpoint-up(xxl) {
                font-size: 16px;
            }
        }
        &-list-icon-img {
        }
    }

    &-mini {
        margin-top: 20px;
        height: 20px;
        background: #222c44;
    }
}
