.header {
    position: relative;
    z-index: 1000;
    color: var(--color-text-bronze);
    background-color: var(--color-blue);
    transition: background-color 0.5s ease-in-out;
    font-family: 'Ubuntu', sans-serif;
    &__wrapper {
        padding-top: 2rem;
        padding-bottom: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        transition: padding 0.3s ease-in-out;
        @include media-breakpoint-up(md) {
            padding-bottom: 1rem;
            padding-top: 0rem;
        }
        @include media-breakpoint-up(xxl) {
            padding-bottom: 2rem;
            padding-top: 1rem;
            // flex-wrap: wrap !important;
        }
    }

    &-concat {
        width: 100%;
    }

    &__hamburger {
    }
    &__info {
        margin-left: auto;
        display: none;
        align-items: center;
        @include media-breakpoint-up(lg) {
            display: flex;
            justify-content: flex-end;
            padding-right: 20px;
            padding-top: 1rem;
            width: 100%;
        }
        &-text {
            font-size: 14px;
            @include media-breakpoint-up(xl) {
                // font-size: 18px;
            }
        }
        &-icon {
            padding-left: 10px;
            height: 20px;
            padding-right: 5px;
        }
        &-phone {
            position: relative;
            font-size: 16px;
            display: block;
            color: var(--color-bronze);
            @include media-breakpoint-up(sm) {
                font-size: 20px;
            }
        }
    }

    &__logo {
        flex-shrink: 0;
        &-link {
            display: block;
        }

        &-img {
            height: 40px;
        }
    }

    &__nav {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.5s cubic-bezier(0.3, -0.25, 0.75, 1.3);

        &-search-wrapper {
            display: flex;
            padding-left: 5px;
            padding-right: 5px;
            margin-top: 10px;
            @include media-breakpoint-up(lg) {
                display: none;
            }
        }

        &-search-icon {
            display: none;
            background-image: url('../../assets/images/search.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 2.5rem;
            width: 2.5rem;
            &:hover {
                cursor: pointer;
            }
        }

        &-search-input {
            background-color: var(--color-blue);
            outline: none;
            border: none;
            border-bottom: 1px solid var(--color-bronze);
            color: var(--color-white);
            width: 100%;
            font-family: 'ubuntu', sans-serif;
            font-size: 16px;
            padding: 5px;
            &::placeholder {
                font-size: 16px;
                // font-size: 2rem;
            }
        }

        &-list {
            margin-top: 3rem;
            border-top: 1px solid var(--color-text-bronze);
            padding-top: 10px;
            list-style: none;
        }

        &-item {
            font-size: 16px;
        }

        &-link {
            position: relative;
            display: block;
            padding: 5px;
            transition: background-color opacity 0.2s;

            &:link,
            &:visited {
                color: inherit;
            }

            &:hover {
                transition: opacity 0.2s;
                opacity: 0.7;
            }
        }
    }

    // &.moved {
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     z-index: 1000;
    //     background-color: var(--color-white);
    // }

    // &.moved &__wrapper {
    //     padding-top: 1.5rem;
    //     padding-bottom: 1.5rem;
    // }

    // &.moved &__logo {
    //     &-img {
    //         filter: brightness(0) invert(1) !important;
    //     }
    // }

    @include media-breakpoint-up(lg) {
        &__wrapper {
            flex-wrap: nowrap;
        }

        &__hamburger {
            display: none;
        }

        &__nav {
            width: auto;
            padding-top: unset;
            height: 100% !important;

            &-list {
                margin-top: unset;
                border-top: unset;
                padding-top: unset;

                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
            }

            &-item {
                font-size: 1.4rem;
            }

            &-link {
                padding: 0.5rem 1rem;
            }

            &-item.active &-link:before,
            &-item:hover &-link:before {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                height: 2px;
                background-color: currentColor;
                left: 1rem;
                right: 1rem;
                margin: 0;
            }
        }
    }

    @media (min-width: 992px) {
        &__nav {
            &-link {
                padding: 1rem 2rem;
            }

            &-item.active &-link:before,
            &-item:hover &-link:before {
                left: 2rem;
                right: 2rem;
            }
        }
    }
}
